<div class="mb-3">
    <p-button
        type="button"
        icon="pi pi-chevron-left"
        (click)="prev()"
        [disabled]="isFirstPage()"
        styleClass="p-button-text" />
    <p-button
        type="button"
        icon="pi pi-refresh"
        (click)="reset()"
        styleClass="p-button-text" />
    <p-button
        type="button"
        icon="pi pi-chevron-right"
        (click)="next()"
        [disabled]="isLastPage()"
        styleClass="p-button-text" />
</div>
<div class="card">
    <p-table
        [value]="customers"
        [paginator]="true"
        [rows]="5"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
              <th style="width:20%"># Activo</th>
              <th style="width:20%">Marca</th>
              <th style="width:20%">Pais</th>
              <th style="width:10%">Categoria</th>
              <th style="width:10%">Modelo Interior</th>
              <th style="width:10%">Modelo Exterior</th>
              <th style="width:10%">V</th>
              <th style="width:10%">Fases</th>
              <th style="width:10%">Refrigerante</th>
              <th style="width:10%">Capacidad</th>
              <th style="width:10%">Fecha Instalacion</th>
              <th style="width:10%">Estado Técnico</th>
              <th style="width:10%">Prioridad</th>
              <th style="width:20%">Centro</th>
              <th style="width:20%">Local</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
              <td>{{ customer.numActivo }}</td>
              <td>{{ customer.marca }}</td>
              <td>{{ customer.country }}</td>
              <td>{{ customer.categoria }}</td>
              <td>{{ customer.modeloInterior }}</td>
              <td>{{ customer.modeloExterior }}</td>
              <td>{{ customer.v }}</td>
              <td>{{ customer.fases }}</td>
              <td>{{ customer.refrigerante }}</td>
              <td>{{ customer.capacidad }}</td>
              <td>{{ customer.fechaInstalacion }}</td>
              <td>{{ customer.estadoTecnico }}</td>
              <td>{{ customer.prioridad }}</td>
              <td>{{ customer.centro }}</td>
              <td>{{ customer.local }}</td>
              <td>
                <p-button
                  [text]="true"
                  (onClick)="openDialog(customer, 'Aire')"
                >
                  <span class="pi pi-pencil"></span>
                </p-button>
              </td>
              <td>
                <p-button
                  [text]="true"
                  (onClick)="deleteAire(customer)"
                >
                  <span class="pi pi-trash"></span>
                </p-button>
              </td>
              <td>
                <p-button
                  [text]="true"
                  (onClick)="openDialog(customer, 'edit')"
                >
                  <span class="pi pi-expand"></span>
                </p-button>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
        </ng-template>
    </p-table>
</div>

